- title @quarter.name

.large-8.medium-8.columns
  .shape.filter
    .row
      .large-4.columns
        %b
          %span#kommune{style: "font-weight: bold; margin-right: 10px;"}
            = @quarter.kommune
          = @quarter.name
      .large-6.columns
        .filter-quartiere{:style => "margin-top: -4px;"}
          = select_tag 'streets', options_from_collection_for_select(@streets, 'coordinates', 'name'), class: 'chosen', include_blank: true, data: { optional: true, placeholder: 'Strasse auswählen'}
      .large-2.columns

  .box-center
    #map.quarter-page{:style => "width: auto; height: 501px; border: 1px solid #ccc;", :data => { coords: [@quarter.lat, @quarter.long], initiatives: @initiatives.to_json, antraeges: @antraeges.to_json, constructions: @constructions.to_json }}
    #spinner

  #seitenverweis

.large-4.medium-4.columns
  = render 'widgets/recent_initiatives'
  = render 'widgets/start_initiative'
  %p
    = render 'subscribe_button' if current_user


= render 'initiatives/markers', initiatives: @initiatives


