= title "Initiativen"
= published_class

.row
  .large-12.columns
    - if @initiatives.blank?
      %h3
        Keine Initiativen
    - else
      - @initiatives.each do |initiative|
        - if initiative.visible == true or can? :update, initiative
          .wrapper-content
            .first-part
              %span
                = initiative.comments.count
                = "Kommentar".pluralize(initiative.comments.count)
              %span
                = initiative.supporters.count
                Unterstützer
            .wrapper-main
              - if foto = initiative.fotos.first
                = link_to image_tag(foto.file_url(:thumb).to_s, width: 125, height: 125, :class => 'photo'), foto.file_url(:lightbox).to_s, :class => "colorbox", :target => "_blank"
              .box1
                %span.date
                  = l initiative.created_at, :format => :short
                  %span
                    - if initiative.user
                      - if current_user
                        = link_to initiative.user.username, profile_path(initiative.user)
                      - else
                        = link_to initiative.user.username, '#', "data-reveal-id" => "login-window"
                  %span
                    - if !initiative.kommune_feld.blank?
                      #{initiative.kommune_feld}
                %h3.heading-post
                  = link_to initiative.title, initiative_path(initiative)
                  - if initiative.visible != true
                    .label.round.alert
                      Nicht veröffentlicht
                %p
                  = truncate_html(initiative.content.html_safe, length: 60)
              .box2
                .social
                  %span.icon-facebook-squared
                  %span.icon-twitter-squared
                = link_to "ansehen", initiative_path(initiative)

= paginate @initiatives

= content_for :footer do
  %script{ :type => 'text/javascript' }
    function initialize() {
    map = new L.Map('map').setView(new L.LatLng(#{@map_lat}, #{@map_lng}), #{@map_zoom});
    var mapboxUrl = 'http://{s}.tiles.mapbox.com/v3/okf.map-najwtvl1/{z}/{x}/{y}.png',
    mapbox = new L.TileLayer(mapboxUrl, {"attribution": "\u00a9 <a href=\"http://www.openstreetmap.org/\" target=\"_blank\">OpenStreetMap</a> contributors"});
    L.Icon.Default.imagePath = '/assets';
    map.addLayer(mapbox,true);
    map.scrollWheelZoom.disable();
    var initiativeIcon = L.AwesomeMarkers.icon({icon: 'initiative', color: 'red'});
    markers = []
    - i = 0
    - @initiatives_map.each do |initiative|
      - i += 1
      - if initiative.lat.present?
        marker#{i} = L.marker([#{initiative.lat}, #{initiative.long}], { icon: initiativeIcon }).addTo(map);
        marker#{i}.bindPopup('<b>#{link_to initiative.title, initiative_path(initiative)}</b><br>#{escape_javascript(truncate_html(initiative.content.html_safe, :length => 50))}#{link_to 'Zur Initiative', initiative_path(initiative)}');
        markers.push(marker#{i});
    }
    $(document).ready(function() {
    initialize();
    });

