= title "E-Mail Abos"

.shape.search-subscription.index
  .row
    .large-12.columns
      %h1
        E-Mail Abos
      %p
        Du bekommst immer ein E-Mail, wenn es eine neue oder aktualisierte Seite mit Deinem Suchwort gibt.

      %h2
        Themen
      - @subscriptions.each do |subscription|
        .row{'data-search-subscription-id' => subscription.id}
          .large-6.columns
            %h4.subheader
              Suchabfrage:
              = subscription.query
          .large-6.columns
            = link_to 'Löschen', subscription, :method => :delete, :class => "button radius secondary", :remote => true
        %hr

      %h2
        Initiativen
      - if @subscriptions_iniatives
        - @subscriptions_iniatives.each do |subscription_iniatives|
          .row
            .large-6.columns
              %h4.subheader
                = subscription_iniatives.subscribable.title
            .large-6.columns
              - @initiative = subscription_iniatives.subscribable
              - @subscribed = true
              = render 'initiatives/subscribe_button'
          %hr
        - content_for :inline_js do
          :javascript
            $(document).on('ajax:before', 'div[data-subscribe-id] form', function () {
              $(this).closest('div').attr('data-subscribe-id', null);
              $(this).closest('.row').slideUp();
            });