.row
  .large-8.large-offset-4.columns.shape
    = form_for @subscription do |f|
      %h4
        Abo Suchabfrage
      = f.text_field :query

      - unless user_signed_in?
        = f.label :email
        = f.email_field :email
        %p
          Du bekommst noch eine E-Mail zur Bestätigung des Abos.

      = f.submit 'Per E-Mail Abonnieren',:class => "button radius"