- title "Neues Passwort"

.row
  .large-8.large-offset-4.columns.shape
    %h1
      Passwort ändern
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .row
        .large-12.columns
          = f.label "Neues Passwort"
          = f.password_field :password
      .row
        .large-12.columns
          = f.label "Passwort bestätigen"
          = f.password_field :password_confirmation
      .row
        .large-12.columns
          = f.submit "Passwort ändern", :class => "button round"
          = render "devise/shared/links"
