- title "Neues Passwort"

.row
  .large-8.large-offset-4.columns.shape
    %h1
      Passwort vergessen
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      .row
        .large-12.columns
          E-Mail
          = f.email_field :email
      .row
        .large-12.columns
          = f.submit "Passwort schicken", :class => "button radius"
      .row
        .large-12.columns
          = render "devise/shared/links"
