= form_for(@page, :html => { :class => '', :multipart => true }) do |f|
  - if @page.errors.any?
    #error_explanation
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.shape
    %h3
      = f.label "Titel", :class => ''
    = f.text_field :title, :class => ''
    %h3
      = f.label "Inhalt", :class => ''
    = f.text_area :content, :class => '', :id => 'redactor_content'

  .submit
    = f.submit "Speichern", :class => 'button radius'
    %span.cancel
      oder
    = link_to "Abbrechen", :back, :class => 'cancel'


= content_for :footer do
  :javascript
    $(document).ready(
      function()
      {
        $('#redactor_content').redactor({ lang: 'de', buttons: ['html','formatting','bold','italic','underline','|','unorderedlist', 'orderedlist','outdent','indent','|','link','table','image']});
      }
    );
